@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500;700;900&family=Assistant:wght@600&family=Bebas+Neue&family=Edu+SA+Beginner&family=Montserrat:ital,wght@0,300;0,600;1,200&family=Poltawski+Nowy:wght@500&family=Poppins:ital,wght@0,400;0,500;0,800;1,300&family=REM:ital,wght@1,500&family=Roboto:wght@500&family=Signika+Negative:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 
body{
    line-height: 1.6;
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #2c2547, #81c7bb);
}
.container{
    position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50% ;
    background-color: rgba(255, 255, 255, 0.281);
    border: 2px solid rgba(255, 255, 255, 0.404);
    box-shadow: 0px 0px 30px rgba(10, 3, 53, 0.274);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    color: #396d70;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.281);
   
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size:20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;

}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height: var( --height);
    border-radius: 8px;

}